<h1>Admin Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<tr>
  <td>
    <h2>Product:</h2>
    <h4><%= @product_count %></h4>
    <br>
  </td>
  <td>
    <h2>Category:</h2>
    <h4><%= @category_list.count %></h4>
  </td>
</tr>